
/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */
body {
  background: #ebebeb;
  position:fixed;
}

#map {
  width: 100vw;
  height:100vh;
  background: #fff;
}

#vis-controls{
  height:auto;
  width:auto;
  position:absolute;
  right:10px;
  top:10%;
  background-color: transparent;
}

.fb-like {
  position:absolute;
  z-index:2;
  bottom:20px;
  left:80px;
}

#donate-but{
  margin-top:20px;
  width:100%;
}
